body {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  line-height: 1.6;
}
body h1,
body h2 {
  margin: 0;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5em;
  letter-spacing: 2px;
}
body h3 {
  margin: 0;
}
body ul {
  list-style-type: none;
  padding-left: 0;
}
body a,
body a:visited {
  text-decoration: none;
  color: inherit;
}
body .button {
  padding: 10px 20px;
  border: 1px #AC8C65 solid;
}
body .button:hover {
  background-color: #7D8E95;
  color: #FFBB98;
  transition: all 0.4s ease-out;
}
body p {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
body .divider {
  padding: 10px 0;
  border-top: 2px #AC8C65 solid;
  width: 10%;
  margin: auto;
}
body .button-selected {
  background-color: rgb(225, 225, 225);
}
body header {
  color: white;
}
body header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  position: fixed;
  width: calc(100% - 50px);
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}
@media screen and (max-width: 767px) {
  body header .top {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  body header .top {
    padding: 0;
    width: 100%;
  }
}
body header .top .logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  body header .top .logo {
    margin-left: 20px;
  }
}
body header .top img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
body header .top nav ul {
  display: flex;
  align-items: center;
}
body header .top nav ul li {
  margin-right: 25px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}
body header .top nav ul li a:hover {
  color: #FFBB98;
}
body footer {
  padding: 30px 0;
  text-align: center;
  border-top: 5px #AC8C65 solid;
  background-color: rgb(57, 57, 57);
  color: white;
}

body main {
  margin-top: 75px;
  background-color: #fef8f0;
}
body main h1 {
  font-size: 25px;
  text-align: center;
  padding-top: 75px;
}
body main #cours .container {
  display: flex;
  justify-content: space-between;
}
body main #cours .container .menu {
  width: 20%;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  body main #cours .container .menu {
    width: 30%;
  }
}
body main #cours .container .menu div {
  background-color: white;
  border-top: #FFBB98 1px solid;
  border-right: #FFBB98 1px solid;
  width: 100%;
  padding: 15px 25px;
}
body main #cours .container .menu div h2 {
  font-size: 23px;
  text-transform: uppercase;
}
body main #cours .container .menu div ul li {
  font-size: 20px;
  display: flex;
  align-items: center;
}
body main #cours .container .menu div ul li p {
  margin-left: 5px;
}
body main #cours .container .items {
  width: 80%;
}
@media (max-width: 768px) {
  body main #cours .container .items {
    width: 70%;
  }
}
body main #cours .container .items ul {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body main #cours .container .items ul li .card {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 650px;
  text-align: left;
  background-color: white;
  margin: 15px;
  padding: 1px;
}
body main #cours .container .items ul li .card:hover {
  border: 1px #AC8C65 solid;
  padding: 0;
}
@media (max-width: 768px) {
  body main #cours .container .items ul li .card {
    width: 350px;
    height: 700px;
  }
}
body main #cours .container .items ul li .card img {
  width: 100%;
  height: 265px;
  -o-object-fit: cover;
     object-fit: cover;
}
body main #cours .container .items ul li .card .content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
body main #cours .container .items ul li .card .content h2 {
  font-size: 20px;
  text-transform: uppercase;
  margin: 10px 0;
}
body main #cours .container .items ul li .card .content .categories {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 5px;
}
body main #cours .container .items ul li .card .content .categories h3 {
  font-size: 20px;
}
body main #cours .container .items ul li .card .content .categories ul {
  display: flex;
  margin-left: 5px;
}
body main #cours .container .items ul li .card .content .categories ul li {
  font-size: 20px;
  font-style: italic;
  color: #7D8E95;
}
body main #cours .container .items ul li .card .content .button {
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
  margin-top: auto;
}
body main #cours .container .items ul li .card .content .button:hover {
  background-color: #7D8E95;
  color: #FFBB98;
}/*# sourceMappingURL=style_formation.css.map */