body {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  line-height: 1.6;
}
body h1,
body h2 {
  margin: 0;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5em;
  letter-spacing: 2px;
}
body h3 {
  margin: 0;
}
body ul {
  list-style-type: none;
  padding-left: 0;
}
body a,
body a:visited {
  text-decoration: none;
  color: inherit;
}
body .button {
  padding: 10px 20px;
  border: 1px #AC8C65 solid;
}
body .button:hover {
  background-color: #7D8E95;
  color: #FFBB98;
  transition: all 0.4s ease-out;
}
body p {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
body .divider {
  padding: 10px 0;
  border-top: 2px #AC8C65 solid;
  width: 10%;
  margin: auto;
}
body .button-selected {
  background-color: rgb(225, 225, 225);
}
body header {
  color: white;
}
body header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  position: fixed;
  width: calc(100% - 50px);
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}
@media screen and (max-width: 767px) {
  body header .top {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  body header .top {
    padding: 0;
    width: 100%;
  }
}
body header .top .logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  body header .top .logo {
    margin-left: 20px;
  }
}
body header .top img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
body header .top nav ul {
  display: flex;
  align-items: center;
}
body header .top nav ul li {
  margin-right: 25px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}
body header .top nav ul li a:hover {
  color: #FFBB98;
}
body footer {
  padding: 30px 0;
  text-align: center;
  border-top: 5px #AC8C65 solid;
  background-color: rgb(57, 57, 57);
  color: white;
}

body main {
  margin-top: 75px;
  background-color: #fef8f0;
  padding-bottom: 30px;
}
body main h1 {
  font-size: 25px;
  text-align: center;
  padding-top: 75px;
}
body main #projects ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body main #projects ul .card {
  height: 700px;
  width: 450px;
  margin: 50px;
  background-color: white;
  transition: box-shadow 0.5s;
}
body main #projects ul .card:hover {
  box-shadow: 5px 5px 5px 7px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  body main #projects ul .card {
    margin: 25px 50px;
  }
}
body main #projects ul .card img {
  width: 450px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
body main #projects ul .card .content {
  padding: 15px;
}
body main #projects ul .card .content h2 {
  font-size: 20px;
  text-transform: uppercase;
}
body main #projects ul .card .content p {
  text-align: justify;
}
body main #projects ul .card .content .precisions {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
body main #projects ul .card .content .precisions h3 {
  font-size: 15px;
  text-transform: uppercase;
  color: #FFBB98;
}
body main #projects ul .card .content .precisions ul {
  margin-left: 5px;
  display: flex;
  align-items: center;
}
body main #projects ul .card .content .precisions ul li {
  padding: 0 5px;
}
body main #projects ul .card .content .precisions ul li:not(:last-child) {
  border-right: 2px solid #FFBB98;
}
body main #projects ul .card .content .precisions ul li a {
  color: #FFBB98;
  text-decoration: underline;
  text-decoration-color: #FFBB98;
}/*# sourceMappingURL=style_projets.css.map */