body {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  line-height: 1.6;
}
body h1,
body h2 {
  margin: 0;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5em;
  letter-spacing: 2px;
}
body h3 {
  margin: 0;
}
body ul {
  list-style-type: none;
  padding-left: 0;
}
body a,
body a:visited {
  text-decoration: none;
  color: inherit;
}
body .button {
  padding: 10px 20px;
  border: 1px #AC8C65 solid;
}
body .button:hover {
  background-color: #7D8E95;
  color: #FFBB98;
  transition: all 0.4s ease-out;
}
body p {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
body .divider {
  padding: 10px 0;
  border-top: 2px #AC8C65 solid;
  width: 10%;
  margin: auto;
}
body .button-selected {
  background-color: rgb(225, 225, 225);
}
body header {
  color: white;
}
body header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  position: fixed;
  width: calc(100% - 50px);
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}
@media (max-width: 768px) {
  body header .top {
    padding: 0;
    width: 100%;
  }
}
body header .top img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
body header .top nav ul {
  display: flex;
  align-items: center;
}
body header .top nav ul li {
  margin-right: 25px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}
body header .top nav ul li a:hover {
  color: #FFBB98;
}
body footer {
  padding: 30px 0;
  text-align: center;
  border-top: 5px #AC8C65 solid;
  background-color: rgb(57, 57, 57);
  color: white;
}

body main {
  margin-top: 75px;
  background-color: #fef8f0;
  padding-bottom: 30px;
}
body main h1 {
  font-size: 25px;
  text-align: center;
  padding-top: 75px;
}
body main h2 {
  text-align: center;
  font-size: 22px;
}
body main #background {
  margin-top: 35px;
}
body main #background .content {
  display: flex;
  align-items: center;
  margin: 15px 150px;
}
@media (max-width: 768px) {
  body main #background .content {
    flex-direction: column;
  }
}
body main #background .content img {
  width: 35%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  body main #background .content img {
    width: 100%;
  }
}
body main #background .content div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-color: #7D8E95;
}
body main #background .content div p {
  width: 80%;
  color: white;
}
body main #expertise {
  margin-top: 35px;
}
body main #missions {
  margin-top: 35px;
}
body main #values {
  margin-top: 35px;
}
body main #values ul {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body main #values ul li {
  background-color: white;
  width: 300px;
  text-align: center;
  margin: 20px 15px;
}
body main #values ul li h3 {
  font-size: 20px;
}
body main #values ul li p {
  font-size: 17px;
}
body main #values ul li img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
body main #skills {
  margin-top: 35px;
}
body main #where {
  margin-top: 35px;
}
body main #where .container {
  display: flex;
  margin: 15px 150px;
}
@media (max-width: 768px) {
  body main #where .container {
    flex-direction: column;
  }
}
body main #where .container img {
  width: 40%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  body main #where .container img {
    width: 100%;
  }
}
body main #where .container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  padding: 20px;
  background-color: #7D8E95;
  color: white;
}
@media (max-width: 768px) {
  body main #where .container .content {
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 768px) {
  body main #where .container .content p {
    padding: 10px;
  }
}
body main #references {
  margin-top: 35px;
}/*# sourceMappingURL=style_freelance.css.map */