body {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  line-height: 1.6;
}
body h1,
body h2 {
  margin: 0;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5em;
  letter-spacing: 2px;
}
body h3 {
  margin: 0;
}
body ul {
  list-style-type: none;
  padding-left: 0;
}
body a,
body a:visited {
  text-decoration: none;
  color: inherit;
}
body .button {
  padding: 10px 20px;
  border: 1px #AC8C65 solid;
}
body .button:hover {
  background-color: #7D8E95;
  color: #FFBB98;
  transition: all 0.4s ease-out;
}
body p {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
body .divider {
  padding: 10px 0;
  border-top: 2px #AC8C65 solid;
  width: 10%;
  margin: auto;
}
body .button-selected {
  background-color: rgb(225, 225, 225);
}
body header {
  color: white;
}
body header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  position: fixed;
  width: calc(100% - 50px);
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}
@media screen and (max-width: 767px) {
  body header .top {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  body header .top {
    padding: 0;
    width: 100%;
  }
}
body header .top .logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  body header .top .logo {
    margin-left: 20px;
  }
}
body header .top img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
body header .top nav ul {
  display: flex;
  align-items: center;
}
body header .top nav ul li {
  margin-right: 25px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}
body header .top nav ul li a:hover {
  color: #FFBB98;
}
body footer {
  padding: 30px 0;
  text-align: center;
  border-top: 5px #AC8C65 solid;
  background-color: rgb(57, 57, 57);
  color: white;
}

body main {
  background-color: #fef8f0;
  text-align: center;
  margin-top: 75px;
}
body main h1 {
  font-size: 25px;
  padding-top: 75px;
}
body main h2 {
  font-size: 20px;
}
body main .container {
  padding: 50px 0;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 768px) {
  body main .container {
    flex-direction: column;
  }
}
body main .container #me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  background-color: white;
  border-radius: 20px;
  padding: 30px 0;
}
@media (max-width: 768px) {
  body main .container #me {
    width: auto;
    margin: 25px;
  }
}
body main .container #me h2 {
  width: 65%;
}
body main .container #me img {
  width: 95px;
  margin: 20px;
}
body main .container #form {
  width: 40%;
  background-color: #172a3a;
  border-radius: 20px;
  color: white;
  padding: 30px 0;
}
@media (max-width: 768px) {
  body main .container #form {
    width: auto;
    margin: 25px;
  }
}
body main .container #form label {
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 5px;
}
body main .container #form .form-group {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px;
}
body main .container #form .form-group .form-item {
  display: flex;
  flex-direction: column;
}
body main .container #form .form-group .form-item:first-of-type {
  width: 40%;
}
body main .container #form .form-group .form-item:last-of-type {
  width: 55%;
}
body main .container #form .form-group .form-item input {
  border: none;
  background-color: #09bc8a;
  border-radius: 10px;
  height: 44px;
  padding: 7px;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
}
body main .container #form .form-message {
  display: flex;
  flex-direction: column;
  margin: 20px 40px;
}
body main .container #form .form-message textarea {
  border: none;
  background-color: #09bc8a;
  border-radius: 10px;
  height: 250px;
  padding: 7px;
  resize: none;
  color: white;
  font-weight: bold;
}
body main .container #form .button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 40px 0 40px;
  padding: 0;
  border: none;
}
body main .container #form .button input {
  text-transform: uppercase;
  font-family: "Jost", sans-serif;
  font-weight: bolder;
  height: 50px;
  width: 100%;
  border: none;
  background-color: white;
  color: #172a3a;
  border-radius: 10px;
  padding: 0;
}
body main .container #form .button input:hover {
  border-radius: 10px;
}
body #messageContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #172a3a;
  color: white;
  height: 60px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #messageContainer .message {
  font-size: 20px;
  text-transform: uppercase;
}/*# sourceMappingURL=style_contact.css.map */