div.top
    div.logo
        a(href="index.html")
            img(data-attr-t="" data-attr-t-interpolate="" src-t="{{body.header.links.logo}}" alt="logo")
    nav
        div.burger-menu
            img.burger-icon(data-attr-t="" data-attr-t-interpolate="" src-t="{{body.header.links.burger}}")
        ul
            li
                a(href="index.html" data-t="") body.header.nav.home
            li
                a(href="training.html" data-t="") body.header.nav.training
            li
                a(href="freelance.html" data-t="") body.header.nav.freelancing
            li
                a(href="projects.html" data-t="") body.header.nav.projects
            li
                a(href="contact.html")
                li.button(data-t="") body.header.nav.contact
        #locale-selector
            img#fr-FR(data-attr-t="" data-attr-t-interpolate="" src-t="{{body.header.links.flag.french}}" alt="French Flag")
            img#en-US(data-attr-t="" data-attr-t-interpolate="" src-t="{{body.header.links.flag.eng}}" alt="English Flag")
