extends templates/layout

block css_link
    link(rel="stylesheet" data-attr-t="" data-attr-t-interpolate="" href-t="{{head.links.css.freelance}}")

block main
    h1(data-t="") body.main.freelance.h1
    div.divider
    section#background
        h2(data-t="") body.main.freelance.background.h2
        div.divider
        div.content
            img(src="img/photo_couffe.avif" alt="Cyril Couffe")
            div.container
                p(data-t="") body.main.freelance.background.text
                div.buttons
                    a.button(href="contact.html" data-t="") body.main.freelance.background.buttons.contact_me
                    a.button(data-attr-t="" data-attr-t-interpolate="" href-t="{{body.main.freelance.background.buttons.cv.href}}" download="CV_COUFFE" target="_blank" data-t="") body.main.freelance.background.buttons.cv.button
                div.icons
                    a(href="https://www.linkedin.com/in/cyril-couffe-phd-331722b6/" target="_blank")
                        img(src="img/linkedIn_logo.png" alt="Linkedin logo")
                    a(href="https://github.com/Cyril-Cf" target="_blank")
                        img(src="img/github_logo.svg" alt="Github logo")
    section#missions
        h2(data-t="") body.main.freelance.missions.h2
        div.divider
        div.exemples
            ul
                li
                    h3(data-t="") body.main.freelance.missions.exemples.first.h3
                    p(data-t="") body.main.freelance.missions.exemples.first.text
                li
                    h3(data-t="") body.main.freelance.missions.exemples.second.h3
                    p(data-t="") body.main.freelance.missions.exemples.second.text
                li
                    h3(data-t="") body.main.freelance.missions.exemples.third.h3
                    p(data-t="") body.main.freelance.missions.exemples.third.text
                li
                    h3(data-t="") body.main.freelance.missions.exemples.fourth.h3
                    p(data-t="") body.main.freelance.missions.exemples.fourth.text
    section#references
        h2(data-t="") body.main.freelance.references.h2
        div.divider
        div.logos
            ul
                li
                    a(href="https://www.datailor.fr" target="_blank")
                        img(src="img/logo_datailor.webp" alt="Datailor")
                li
                    a(href="https://www.sciences-u-lyon.fr" target="_blank")
                        img(src="img/logo_sciences_u.webp" alt="Sciences U")
                li
                    a(href="https://www.mydigitalschool.com" target="_blank")
                        img(src="img/logo_mds.webp" alt="MyDigitalSchool")
                li
                    a(href="https://dyma.fr/" target="_blank")
                        img(src="img/logo_dyma.webp" alt="Dyma")
                li
                    a(href="https://humanbooster.com" target="_blank")
                        img(src="img/logo_humanbooster.webp" alt="Human Booster")
    section#values
        h2(data-t="") body.main.freelance.values.h2
        div.divider
        ul
            li
                img(src="img/pain_au_chocolat.avif" alt="Pain au chocolat")
                div.content
                    h3(data-t="") body.main.freelance.values.first.h3
                    p(data-t="") body.main.freelance.values.first.text
            li
                img(src="img/mappemonde.avif" alt="Mappemonde")
                div.content
                    h3(data-t="") body.main.freelance.values.second.h3
                    p(data-t="") body.main.freelance.values.second.text
            li
                img(src="img/tortue.avif" alt="tortue")
                div.content
                    h3(data-t="") body.main.freelance.values.third.h3
                    p(data-t="") body.main.freelance.values.third.text
            li
                img(src="img/gamers.avif" alt="gamers")
                div.content
                    h3(data-t="") body.main.freelance.values.fourth.h3
                    p(data-t="") body.main.freelance.values.fourth.text
            li
                img(src="img/runner.avif" alt="runner")
                div.content
                    h3(data-t="") body.main.freelance.values.fifth.h3
                    p(data-t="") body.main.freelance.values.fifth.text
            li
                img(src="img/american_flag.avif" alt="drapeau américain")
                div.content
                    h3(data-t="") body.main.freelance.values.sixth.h3
                    p(data-t="") body.main.freelance.values.sixth.text
    section#skills-degree
        h2(data-t="") body.main.freelance.skills-degree.h2
        div.divider
        div.container
            section#skills
                h3(data-t="") body.main.freelance.skills-degree.skills.h3
                ul
                    li(data-t="") body.main.freelance.skills-degree.skills.first
                    li(data-t="") body.main.freelance.skills-degree.skills.second
                    li(data-t="") body.main.freelance.skills-degree.skills.third
                    li(data-t="") body.main.freelance.skills-degree.skills.fourth
            section#degree
                h3(data-t="") body.main.freelance.skills-degree.degree.h3
                ul
                    li(data-t="") body.main.freelance.skills-degree.degree.first
                    li(data-t="") body.main.freelance.skills-degree.degree.second
                    li(data-t="") body.main.freelance.skills-degree.degree.third
                    li(data-t="") body.main.freelance.skills-degree.degree.fourth
    section#where
        h2(data-t="") body.main.freelance.where.h2
        div.divider
        div.container
            img(src="img/lyon.avif" alt="Lyon")
            div.content
                p(data-t="") body.main.freelance.where.first
                br
                p(data-t="") body.main.freelance.where.second

